{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
{#    <li class="active">Dashboard</li>#}
    <li><a href="{% url 'users:saltapi-list' %}">{% trans 'Saltapi List' %}</a></li>
    <li><a href="#">{{ action }}</a></li>
</ul>

  <div class="page-content-wrap">
      <div class="col-md-12">
          <div class="col-md-12">

              <form class="form-horizontal" method="post" action="">
                  {% csrf_token %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title"><strong>{% trans 'Create SaltApi' %}</strong></h3>
                      </div>
                      <div class="panel-body">
                          <p>{% trans 'note' %} <code>[*] and Required</code>{% trans 'Please follow the prompts to improve the form' %}</p>
                      </div>
                      <div class="panel-body form-group-separated">
                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'SaltHost' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-link"></span></span>
                                      <input type="text" name="url" value="{{ saltapi.url }}" placeholder="{% trans 'URL' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required,exsample:https://127.0.0.1:8000' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Salt UserName' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                      <input type="text" name="username" value="{{ saltapi.username }}" placeholder="{% trans 'SaltApi UserName' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                           <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Salt Password' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-key"></span></span>
                                      <input type="text" name="password" value="{{ saltapi.password }}" placeholder="{% trans 'SaltApi Password' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Comment' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <textarea name="comment"  placeholder="{% trans 'Comment ...' %}" class="form-control" rows="5">{{ saltapi.comment }}</textarea>
                                  <span class="help-block"></span>
                              </div>
                          </div>

                      </div>
                      <div class="panel-footer">
                          <button class="btn btn-default">Clear Form</button>
                          <button class="btn btn-primary pull-right">Submit</button>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>

{% endblock %}