{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
{% load humanize %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'assets:server-list'%}">{% trans 'Server List' %}</a></li>
    <li><a href="{% url 'assets:server-detail' server.pk  %}">{{ action }}</a></li>
</ul>

<div class="col-xs-12" ng-app="assets_server">
      <div class="box" ng-controller="baseInfo">
          <div class="box-header">
              <h3 class="box-title">{% trans 'Base Info' %}</h3>
          </div>
          <div class="box-body box-padding">
              <table class="table table-striped">
                  <tr class="hide">
                      <th>key</th>
                      <th>value</th>
                  </tr>
                  <tr>
                      <td>{% trans 'Hostname' %}</td>
                      <td>{{ serverinfo.hostname }}</td>
                  </tr>
                   <tr>
                      <td>{% trans 'InstanceName' %}</td>
                      <td>{{ hosts.instanceName }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'InstanceId' %}</td>
                      <td>{{ serverinfo.instanceid }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'IPAddress' %}</td>
                      <td>{{ serverinfo.publicipaddress }}(公网) / {{ serverinfo.inneripaddress }}(内网)</td>
                  </tr>
                  <tr>
                      <td>{% trans 'SerialNumber' %}</td>
                      <td>{{ serverinfo.serialnumber }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'manufacturer' %}</td>
                      <td>{{ serverinfo.manufacturer }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'productname' %}</td>
                      <td>{{ serverinfo.productname }}</td>
                  </tr>
                   <tr>
                      <td>{% trans 'osrelease' %}</td>
                      <td>{{ serverinfo.osrelease }}</td>
                  </tr>
                   <tr>
                      <td>{% trans 'LastUpdate' %}</td>
                      <td>{{ serverinfo.lastupdate }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'Status' %}</td>
                      <td ng-model="status">{{ hosts.status }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'regionDisplay' %}</td>
                      <td>{{ hosts.regionDisplay }}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>


<!-- Device Info -->
<div class="col-xs-12 col-lg-6" ng-app="servers_baseinfo">
    <div class="box" ng-controller="server_baseinfo">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Configure' %}</h3>
        </div>
        <div class="box-body box-padding">
            <table class="table table-striped">
                <tr class="hide">
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr class="hide">
                    <th>key</th>
                    <th>value</th>

                </tr>
                <tr>
                    <td>{% trans 'Cpu Total' %}/{% trans 'Cpu Used' %}</td>
                    <td>{{ hosts.cpu }}核/{{ hosts.cpuUsed }}核</td>
                </tr>
                <tr>
                    <td>{% trans 'Memory' %}/{% trans 'Memory Used' %}</td>
                    <td>{{ hosts.memory }}MB/{{ hosts.memUsed }}MB</td>
                </tr>
                <tr>
                    <td>{% trans 'Disk' %}/{% trans 'Disk Used' %}</td>
                    <td>{{ hosts.diskSize }}MB/{{ hosts.diskUsed }}MB</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-6">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Network Info' %}</h3>
        </div>
        <div class="box-body box-padding">
            <table class="table table-striped">
                <tr class="hide">
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr>
                    <td>{% trans 'PublicIpAddress' %}</td>
                    <td>{{ serverinfo.publicipaddress }}</td>
                </tr>
                <tr>
                    <td>{% trans 'InnerIpAddress' %}</td>
                    <td>{{ serverinfo.inneripaddress }}</td>
                </tr>
                <tr>
                    <td>{% trans 'InternetBandwidth' %}</td>
                    <td>{% trans 'InternetMaxBandwidthOut' %}:({{ instances.InternetMaxBandwidthOut }}){% trans 'InternetMaxBandwidthIn' %}:({{ instances.InternetMaxBandwidthIn }})</td>
                </tr>
{#                 <tr>#}
{#                    <td>{% trans 'VlanId' %}</td>#}
{#                    <td>{{ instances.VlanId }}</td>#}
{#                </tr>#}

            </table>
        </div>
    </div>
</div>

<div class="col-xs-12 col-lg-6">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans 'SecurityGroupIds' %}</h3>
        </div>
        <div class="box-body box-padding">
            <table class="table table-striped">
                <tr class="hide">
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr>
                    <td>{% trans 'SecurityGroupIds' %}</td>
                    {% for security in instances.SecurityGroupIds %}
                    <td>{{ security }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-xs-12 col-lg-6">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Vlan Info' %}</h3>
        </div>
        <div class="box-body box-padding">
            <table class="table table-striped">
                <tr class="hide">
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr>
                    <td>{% trans 'VlanId' %}</td>
                    <td>{{ services.diskUsed }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

     <div class="col-md-12">
         <div class="box">
             <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">{% trans 'Container List' %}</h3>
                  <ul class="panel-controls">
                      <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                      <li><a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Refresh container' %}"><span class="fa fa-refresh"></span></a></li>
                      <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                  </ul>
               </div>
                 <div class="panel-body">
                     <table class="table">
                         <thead>
                         <tr>
                             <th><input type="checkbox" name="alls" onClick="selectAll('formName','id')" title="全选/反选"></th>
                             <th>{% trans 'Container ID' %}</th>
                             <th>{% trans 'Cpu' %}</th>
                             <th>{% trans 'Memory' %}(Mb)</th>
                             <th>{% trans 'Disk' %}</th>
                             <th>{% trans 'Create Time' %}</th>
                             <th>{% trans 'Start Time' %}</th>
                             <th>{% trans 'Status' %}</th>
                         </tr>
                         </thead>
                     <tbody>
                      {% for container in containers %}
                         <tr id="{{ container.id }}">
                             <td><input class="icheck" type="checkbox" value="{{ container.id }}" name="id"></td>
                             <td>{{ container.id }}</td>
                             <td>{{ container.cpu }}</td>
                             <td>{{ container.mem }}</td>
                             <td>{{ container.disk }}</td>
                             <td>{{ container.createTime }}</td>
                             <td>{{ container.startTime }}</td>
                             <td>{{ container.status }}</td>
                         </tr>
                     {% endfor %}
                     </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>


<script>
var app = angular.module('assets_server',[]);
app.config(
    function($interpolateProvider,$httpProvider) {
      $interpolateProvider.startSymbol('{[');
      $interpolateProvider.endSymbol(']}');
      $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
      $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
      $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
      $httpProvider.defaults.headers.post['X-CSRFToken'] = '{{ csrf_token }}';
      $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
      $httpProvider.defaults.xsrfCookieName = 'csrftoken';
      $httpProvider.defaults.withCredentials = true;
    }).run(function($http) {
        $http.defaults.xsrfHeaderName = 'X-CSRFToken';
        $http.defaults.xsrfCookieName = 'csrftoken';
    });


</script>
{% endblock %}



