{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'business:project-list'%}">{% trans 'Project List' %}</a></li>
    <li><a href="{% url 'business:project-detail' project.pk  %}">{{ action }}</a></li>
</ul>

<div class="col-xs-12">
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">{% trans 'Base Info' %}</h3>
          </div>
          <div class="box-body box-padding">
              <table class="table table-striped">
                  <tr class="hide">
                      <th>key</th>
                      <th>value</th>
                  </tr>
                    <tr>
                      <td>{% trans 'Project Name' %}</td>
                      <td>{{ project.name }}</td>
                  </tr>
                   <tr>
                      <td>{% trans 'Project abbr name' %}</td>
                      <td>{{ project.abbr_name }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'project owner' %}</td>
                      <td>{{ project.owner }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'Project Code URL' %}</td>
                      <td>{{ project.code_address }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'Comment' %}</td>
                      <td>{{ project.comment }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'Create by' %}</td>
                      <td>{{ project.create_by }}</td>
                  </tr>
                  <tr>
                      <td>{% trans 'Create at' %}</td>
                      <td>{{ project.create_at }}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
  <div class="col-xs-12">
      <div class="box" id="idc_rack">
          <div class="box-header">
              <h3 class="box-title">{% trans 'Env' %}</h3>
              <a href="{% url 'business:project-service-create' pk=project.pk %}" class="btn btn-sm btn-default pull-right">{% trans 'Bind Service' %}</a>
          </div>
          <div class="box-body">
              <table class="table table-bordered">
                  <tr>
                      <th>{% trans 'Service ID' %}</th>
                      <th>{% trans 'Service Name' %}</th>
                      <th>{% trans 'regionDisplay' %}</th>
                      <th>{% trans 'containers' %}</th>
                      <th>{% trans 'imageName' %}</th>
                      <th>管理</th>
                  </tr>
                  {% for pservice in services %}
                  <tr>
                      <td>{{ pservice.service_id }}</td>
                      <td>{{ pservice.service.name }}</td>
                      <td>{{ pservice.service.regionDisplay }}</td>
                      <td>{{ pservice.service.nodes.field }}</td>
                      <td>{{ pservice.service.imageName }}</td>
                      <td>
                        <a href="#" class="badge bg-green">查看</a>
                        <a href="#" class="badge bg-blue">发布</a>
                        <a href="#" class="badge bg-yellow">回滚</a>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
      </div>
  </div>
</div>

{% endblock %}



