{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'crondtasks:crontab-list' %}">{{ action }}</a></li>
</ul>

<div class="page-content-wrap pull-right">
    <div class="col-md-12">
      <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'crondtask:crontab-create' %}">
                        <button class="btn btn-success" data-toggle="tooltip" data-placement="right" title="添加计划任务"><i class="fa fa-plus"></i></button>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table1" class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="60">{% trans 'minute' %}</th>
                                <th width="60">{% trans 'hour' %}</th>
                                <th width="60">{% trans 'week' %}</th>
                                <th width="60">{% trans 'month' %}</th>
                                <th width="60">{% trans 'day' %}</th>
                                <th width="30">{% trans 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for crontab in crontabs %}
                            <tr>
                                <td><strong>{{ crontab.minute }}</strong></td>
                                <td><strong>{{ crontab.hour }}</strong></td>
                                <td><strong>{{ crontab.day_of_week }}</strong></td>
                                <td><strong>{{ crontab.day_of_month }}</strong></td>
                                <td><strong>{{ crontab.month_of_year }}</strong></td>
                                <td>
                                    <a href="{% url 'crondtasks:crontab-update' crontab.pk %}"><i class="fa fa-edit text-green fa-lg"></i></a>
                                    <a onclick="delete_cron({{ crontab.id }})"><i class="fa fa-recycle text-red fa-lg"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

      <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'crondtask:interval-create' %}">
                        <button class="btn btn-success" data-toggle="tooltip" data-placement="right" title="添加Interval"><i class="fa fa-plus"></i></button>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table2" class="table table-bordered table-striped table-actions">
                            <thead>
                            <tr>
                                <th width="150">{% trans 'every' %}</th>
                                <th width="150">{% trans 'period' %}</th>
                                <th width="30">{% trans 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for interval in intervals %}
                            <tr>
                                <td><strong>{{ interval.every }}</strong></td>
                                <td><span class="label label-success">{{ interval.period }}</span></td>
                                <td>
                                    <a href="{% url 'crondtask:interval-update' interval.pk %}"><i class="fa fa-edit text-green fa-lg"></i></a>
                                    <a onclick="delete_inter({{ intervals.id }})"><i class="fa fa-recycle text-red fa-lg"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="col-md-12">#}
{#      <div class="col-md-6">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">#}
{#                    <a href="{% url 'crondtask:solar-create' %}">#}
{#                        <button class="btn btn-success" data-toggle="tooltip" data-placement="right" title="添加Solar"><i class="fa fa-plus"></i></button>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    <div class="table-responsive">#}
{#                        <table id="table3" class="table table-bordered table-striped table-actions">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th width="120">{% trans 'event' %}</th>#}
{#                                <th width="120">{% trans 'latitude' %}</th>#}
{#                                <th width="120">{% trans 'longitude' %}</th>#}
{#                                <th width="30">{% trans 'actions' %}</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for solar in solars %}#}
{#                            <tr>#}
{#                                <td><strong>{{ solar.event }}</strong></td>#}
{#                                <td><span class="label label-success">{{ solar.latitude }}</span></td>#}
{#                                <td><span class="label label-success">{{ solar.longitude }}</span></td>#}
{#                                <td>#}
{#                                    <a href="{% url 'crondtasks:solar-update' solar.pk %}"><i class="fa fa-edit text-green fa-lg"></i></a>#}
{#                                    <a onclick="delete_solar({{ solars.id }})"><i class="fa fa-recycle text-red fa-lg"></i></a>#}
{#                                </td>#}
{#                            </tr>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
    <script>
        function delete_cron(id) {
        var the_url = "/api/crondtasks/v1/crontab/";
            swal({
                title: "确认删除此条记录吗?",
                text: "删除后将无法恢复",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function (isConfirm) {
                if (isConfirm){
                    $.ajax({
                        url: the_url + id,
                        type: "POST",
                        method: "DELETE",
                        success: function () {
                            swal("计划任务删除!","删除成功！","success");
                            window.location.reload();
                        }
                    });
            }
            })
    }
    </script>
    <script>
        $(document).ready(function(){
            $('#table1').dataTable({
                "searching" : false,
                "bLengthChange": false
            });
        });
        $(document).ready(function(){
            $('#table2').dataTable({
                "searching" : false,
                "bLengthChange": false
            });
        });
        $(document).ready(function(){
            $('#table3').dataTable({
                "searching" : false,
                "bLengthChange": false
            });
        });
    </script>



{% endblock %}

