{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'assets:region-list' %}">{% trans 'RegionList' %}</a></li>
    <li><a href="{% url 'assets:cloud-create' %}">{{ action }}</a></li>
</ul>

  <div class="page-content-wrap">
      <div class="col-md-12">
          <div class="col-md-12">

              <form class="form-horizontal" method="post" action="">
                  {% csrf_token %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title"><strong>{% trans 'Create Group' %}</strong></h3>
                      </div>
                      <div class="panel-body">
                          <p>{% trans 'note' %} <code>[*] and Required</code>{% trans 'Please follow the prompts to improve the form' %}</p>
                      </div>
                      <div class="panel-body form-group-separated">
                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'IDC Name' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                      <input type="text" name="name" value="{{ cloudes.name }}" placeholder="{% trans 'Region' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Abbr Slug' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-th-list"></span></span>
                                      <input type="text" name="abbr_name" value="{{ cloudes.abbr_name }}" placeholder="{% trans 'Abbr Slug' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Key ID' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-key"></span></span>
                                      <input type="text" name="keyid" value="{{ cloudes.keyid }}" placeholder="{% trans 'Key ID' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Secret' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-unlock"></span></span>
                                      <input type="text" name="keysecret" value="{{ cloudes.keysecret }}" placeholder="{% trans 'Secret' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'Country' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                      <input type="text" name="country" value="{{ cloudes.country }}" placeholder="{% trans 'Country' %}" class="form-control"/>
                                  </div>
                                  <span class="help-block">{% trans 'Required' %}</span>
                              </div>
                          </div>

                      </div>
                      <div class="panel-footer">
                          <button class="btn btn-default">Clear Form</button>
                          <button class="btn btn-primary pull-right">Submit</button>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>

{% endblock %}