{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'crondtasks:crontab-list' %}">{% trans 'Crontab List' %}</a></li>
    <li><a href="{% url 'crondtasks:interval-create' %}">{{ action }}</a></li>
</ul>

  <div class="page-content-wrap">

      <div class="col-md-12">
          <div class="col-md-12">

              <form class="form-horizontal" method="post" action="">
              {% csrf_token %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title"><strong>{% trans 'Create or Update interval' %}</strong></h3>
                      </div>
                      <div class="panel-body">
                          <p>{% trans 'note' %} <code>此表单为crontab的标准写法,</code>{% trans 'Please follow the prompts to improve the form' %}</p>
                      </div>
                      <div class="panel-body form-group-separated">

                          <div class="form-group">
                              <label class="col-md-3 col-xs-12 control-label">{% trans 'every' %}</label>
                              <div class="col-md-6 col-xs-12">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                      <input type="number" name="every"  value="{{ interval.every }}" placeholder="{% trans 'every' %}" class="form-control"/>
                                  </div>
                              </div>
                          </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{% trans 'period' %}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                    <select class="form-control" name="period">
                                        <option value="days">Days</option>
                                        <option value="hours">Hours</option>
                                        <option value="minutes">Minutes</option>
                                        <option value="seconds">Seconds</option>
                                        <option value="microseconds">Microseconds</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                      </div>
                      <div class="panel-footer">
                          <button class="btn btn-default">Clear Form</button>
                          <button class="btn btn-primary pull-right">Submit</button>
                      </div>
                  </div>
              </form>

          </div>
      </div>

  </div>
{% endblock %}



