{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'crondtasks:periodic-list' %}">{{ action }}</a></li>
</ul>

 <div class="page-content-wrap pull-right">
     <div class="col-md-12">
         <div class="col-md-12">
             <div class="panel panel-default">
                 <div class="panel-body">
                     <table class="table datatable">
                         <thead>
                         <tr>
                             <th>{% trans 'Name' %}</th>
                             <th>{% trans 'task' %}</th>
                             <th>{% trans 'enabled status' %}</th>
                             <th>{% trans 'last_run_at' %}</th>
                             <th>{% trans 'total_run_count' %}</th>
                             <th>{% trans 'date_changed' %}</th>
                             <th>{% trans 'Description' %}</th>
                             <th>{% trans 'crontab' %}</th>
                             <th>{% trans 'interval' %}</th>
                             <th>{% trans 'solar' %}</th>
                             <th>{% trans 'Actions' %}</th>
                         </tr>
                         </thead>
                     <tbody>
                     {% for task in tasks %}
                         <tr id="{{ task.id }}">
                             <td>{{ task.name }}</td>
                             <td>{{ task.task }}</td>
                             <td>{{ task.enabled }}</td>
                             <td>{{ task.last_run_at }}</td>
                             <td>{{ task.total_run_count }}</td>
                             <td>{{ task.date_changed }}</td>
                             <td>{{ task.description }}</td>
                             <td>{{ task.crontab_id }}</td>
                             <td>{{ task.interval.period }}/{{ task.interval.every }}</td>
                             <td>{{ task.solar_id }}</td>
                             <td>
                                 <a href=""><i class="fa fa-envelope-o text-green"></i></a>
                                 <a href=""><i class="fa fa-edit text-blue"></i></a>
                                 <a href=""><i class="fa fa-recycle text-red"></i></a>
                             </td>
                         </tr>
                     {% endfor %}
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>

{% endblock %}



