{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'assets:node-list' %}">{{ action }}</a></li>
</ul>

 <div class="page-content-wrap">
     <div class="col-md-12">
             <div class="panel panel-default">
                 <div class="panel-heading">
                  <h3 class="panel-title">{% trans 'nodeList' %}</h3>
                  <ul class="panel-controls">
                      <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                      <li><a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Refresh Instances' %}"><span class="fa fa-refresh"></span></a></li>
                      <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                  </ul>
                 </div>
                 <div class="panel-body">
                     <table class="table datatable">
                         <thead>
                         <tr>
                             <th><input type="checkbox" name="alls" onClick="selectAll('formName','id')" title="全选/反选"></th>
                             <th>{% trans 'nodeId' %}</th>
                             <th>{% trans 'nodeName' %}</th>
                             <th>{% trans 'imageName' %}</th>
                             <th>{% trans 'status' %}</th>
                             <th>{% trans 'serviceId' %}</th>
                             <th>{% trans 'createTime' %}</th>
                             <th>{% trans 'Actions' %}</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for node in nodes %}
                             <tr id="{{ node.id }}">
                                 <td><input class="icheck" type="checkbox" value="{{ host.id }}" name="id"></td>
                                 <td>{{ node.id }}</td>
                                 <td>{{ node.name }}</td>
                                 <td>{{ node.imageName }}</td>
                                 <td>{{ node.status }}</td>
                                 <td>{{ node.serviceId }}</td>
                                 <td>{{ node.createTime }}</td>
                                 <td>
                                     <a href="#" class="badge bg-green">{% trans 'view' %}</a>
                                     <a href="#" class="badge bg-blue">{% trans 'update' %}</a>
                                 </td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
     </div>
 </div>
{% endblock %}