 <div class="panel-body">
                     <table class="table datatable">
                         <thead>
                         <tr>
                             <th><input type="checkbox" name="alls" onClick="selectAll('formName','id')" title="全选/反选"></th>
                             <th>{% trans 'image id' %}</th>
                             <th>{% trans 'imageName' %}</th>
                             <th>{% trans 'imageTag' %}</th>
                             <th>{% trans 'imageAlias' %}</th>
                             <th>{% trans 'ImageModifyTime' %}(Mb)</th>
                             <th>{% trans 'Actions' %}</th>
                         </tr>
                         </thead>
                     <tbody>
                     {% for image in images %}
                         <tr id="{{ image.id }}">
                             <td><input class="icheck" type="checkbox" value="{{ image.id }}" name="id"></td>
                             <td>{{ image.id }}</td>
                             <td>{{ image.imageName }}</td>
                             <td>{{ image.imageTag }}</td>
                             <td>{{ image.imageAlias }}</td>
                             <td>{{ image.ImageModifyTime }}</td>
                             <td>
                                 <a href="#" class="badge bg-green">{% trans 'view' %}</a>
                                 <a href="#" class="badge bg-green">{% trans 'update' %}</a>
                             </td>
                         </tr>
                     </tbody>
                      {% endfor %}
                     </table>
                 </div>