{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Operation Management System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/theme-default.css' %}"/>
{#        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/bootstrap/bootstrap.min.css' %}"/>#}
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/admin_table.css' %}"/>
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/jquery/slider.css' %}"/>
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/bootstrap/bootstrap-slider.js' %}"/>
{#        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'indexcss/bootstrap/dataTables.bootstrap.min.css' %}"/>#}
        {% include '_index_js.html' %}
    </head>