{% load static i18n %}
<!-- START SCRIPTS -->
        <!-- START PLUGINS -->
<script type="text/javascript" src="{% static 'indexjs/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/jquery/jquery-ui.min.js'%}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script type='text/javascript' src='{% static 'indexjs/plugins/icheck/icheck.min.js' %}'></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type='text/javascript' src="{% static 'indexjs/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/owl/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/datatables/jquery.dataTables.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'indexjs/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'indexjs/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/bootstrap/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'login/js/plugins/bootstrap-notify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'login/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/ajax_django.js' %}"></script>
<script type="text/javascript" src="{% static 'indexjs/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
{#<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>#}


